/* 共用样式 */

html,body{
    height: 100%;
}
p,ul{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
ul li{
    list-style: none;
}
a{
    color: #333;
}
a:hover{
    color: #f56c6c;
}
img{
    max-width: 100%;
}
#box{
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 50px;
    font-size: 16px;
    user-select: none;
    font-weight: 300;
}
@media screen and (max-width: 641px) {
    #box{
        padding: 20px;
    }
}
/* 总标题 */
.bigtitle_box .big{
    font-size: 25px;
}
.bigtitle_box .small{
    font-size: 14px;
    color: #aaa;
    user-select: text;
}
/* 活动规则 */
#rule_box,#list_box{
    color: #f56c6c;
    margin-top: 20px;
}
#rule_box a,#list_box a{
    color: #f56c6c;
}
#rule{
    margin-top: 20px;
    text-align: left;
    padding: 20px;
}
#rule .imgbtn{
    cursor: pointer;
    width: 7em;
}
#rule .imgbtn.lastimgbtn{
    width: 13em;
}
/* 奖品附图弹窗 */
.imgp_box{
    width: 90%;
    color: #f56c6c;
}
.imgp_box .am-modal-hd{
    margin-bottom: 10px;
}
/* 提示语 */
.tips{
    font-size: 12px;
    color: #aaa;
    margin-top: 10px;
}
/* 文本调整类 */
.text_center{
    text-align: center;
}
/* 间距调整类 */
.marbottom_20{
    margin-bottom: 20px;
}
.martop_20{
    margin-top: 20px;
}