/* 首页样式 */

/* 文章列 */
.plist_box{
    margin-top: 50px;
}
.plist_box .plist_title{
    text-align: left;
    color: #1f2f3d;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
.plist_box .plist{
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.plist_box .plist li{
    flex-grow: 1;
    margin: 20px 0;
}
.plist_box .plist li .libox{
    width: 200px;
    height: 315px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
}
.plist_box .plist li .libox:hover{
    box-shadow: rgba(0, 0, 0, .1) 0px 0px 26px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.plist_box .plist li .pimg{
    width: 100%;
    height: 100px;
    background: url("../../image/p1.jpg") center no-repeat;
    background-size: cover;
}
.plist_box .plist li p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}
.plist_box .plist li .p_title{
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
}
.plist_box .plist li .p_writer{
    font-size: 14px;
}
.plist_box .plist li .p_content{
    white-space: normal;
    margin-top: 5px;
    position:relative;
    line-height:1.4em;
    /* 3 times the line-height to show 3 lines */
    height:5.6em;
    overflow:hidden;
}
.plist_box .plist li .p_content::after{
    content:"...";
    font-weight: 500;
    position:absolute;
    bottom:0;
    right:-1px;
    background:#fff;
    text-align: center;
    width: 20px;
}
.plist_box .plist li .vote_btn{
    display: block;
    color: #f56c6c;
    border: 1px solid #fbc4c4;
    background-color: #fef0f0;
    border-radius: 2px;
    width: 70%;
    margin: 5px auto;
    font-size: 14px;
    padding: 6px 10px;
    line-height: 25px;
}
.plist_box .plist li .vote_btn:hover{
    background: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
}
/* 暂无内容 */
.plist_box .nocontent_tip{
    color: #f56c6c;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
    user-select: text;
}